@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@300&display=swap');


body {
  background: rgb(0,11,89);
  background: linear-gradient(90deg, rgba(0,11,89,1) 0%, rgba(9,9,121,1) 60%, rgba(0,11,89,1) 100%);
  color: aliceblue;
}

.quoteCard{
  background: rgb(255,255,255);
  background: linear-gradient(198deg, rgba(255,255,255,1) 0%, rgba(117,233,232,1) 51%, rgba(255,255,255,1) 100%);
  font-family: 'Kalnia', serif;
}
